a{
    text-decoration: none !important;
}
img{
    max-width: 100%;
}
body {
    font-family: 'Source Sans Pro' !important;
    font-size: 16px !important;
    color: #e1293d !important;
}
.mb-15px{
    margin-bottom: 15px;
}
.title-20px {
    display: block;
    margin: 0px auto;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.title-18px {
    margin-top: 25px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.line-under-1 {
    width: 30%;
    margin: 0px auto 3px auto;
    border-bottom: 2px solid #e1293d;
}

.line-under-2 {
    width: 20%;
    margin: 0px auto;
    border-bottom: 1px solid #e1293d;
    margin-bottom: 30px;
}

.line-under-3 {
    width: 50%;
    display: block;
    margin: 0px auto 2px auto;
    border-bottom: 1px solid #bb8087;
    margin-top: 5px;
}

.line-under-4 {
    width: 80%;
    margin: 0px auto;
    border-bottom: 2px solid #e1293d;
    margin-bottom: 15px;
}

.in-box {
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.align-row{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
}