/* hearder */
#header {
    background-color: #a73a3a;
    padding-top: 10px;
    padding-bottom: 15px;
}

#header .container ul.nav {
    margin-left: auto;
    font-size: 17px;
}

#header .container ul.nav li {
    margin: 10px 8px;
    height: 34px;
}

#header .container ul.nav li a {
    padding: 5px 10px;
    color: #fff;
    text-transform: uppercase;
}

#header .container ul.nav li:hover {
    border-bottom: 2px solid #fff;
}

#header .container label {
    display: none;
    font-size: 35px;
    background-color: #A73A3B;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#header .container input[type="checkbox"] {
    -webkit-appearance: none;
}

#header .container input[type="checkbox"]:checked~label {
    background-color: black;
}

@media only screen and (max-width: 768px) {
    #header .container ul.nav {
        width: 100%;
        display: block;
        height: 0px;
        transition: 1s ease-out;
    }

    #header .container input[type="checkbox"]:checked~ul.nav {
        height: 362px;
        transition: 1s;
        border-top: 1px solid #fff;
    }

    #header .container label,
    #header .container input[type="checkbox"] {
        display: block;
    }
}

/*header*/

/* search */
#search {
    border-bottom: 1px solid #e1293d;
    padding: 20px 0px;
}

#search form.container .row .box-input input {
    color: #666;
    padding: 5px;
    width: 100%;
    display: block;
    margin-top: 10px;
}

#search form.container .row .box-button button {
    margin: 10px auto;
    background: #fff;
    color: #a73a3a;
    padding: 7px 25px;
    border: 2px solid #a73a3a;
    min-width: 150px;
    display: block;
}

/* slider-login */
#slider-login {
    padding: 40px 0px 35px;
    border-bottom: 1px dashed #e1293d;
}

#slider-login .row .box-slider .slider {
    position: relative;
}

#slider-login .row .box-login .login {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid #e1293d;
    height: 100%;
}

#slider-login .row .box-login .login span {
    text-align: center;
}

#slider-login .row .box-login .login a.button {
    width: 70%;
    background: #e1293d;
    padding: 10px 0px;
    color: #fff;
    margin: 10px auto;
    text-align: center;
}

#slider-login .row .box-login .login .line {
    width: 50%;
    margin: 0px auto 20px;
    border-bottom: 1px solid #e1293d;
    padding-top: 10px;
}

#slider-login .row .box-login .login .line-1 {
    width: 100%;
}

#slider-login .row .box-login .login .icon-phone {
    margin: 30px auto 20px auto;
    font-size: 40px;
    color: #e1293d;
    text-align: center;
    width: 100%;
}

#slider-login .row .box-login .login .phone-munber {
    text-align: center;
    color: #e1293d;
    margin: 0px auto 20px;
    font-family: arial;
    font-size: 28px;
    font-weight: bold;
}

/* app */
#app {
    padding-top: 50px;
    padding-bottom: 35px;
    border-bottom: 1px dashed #e1293d;
}

#app .container .row .box-down-app {
    border: 1px solid #666;
    color: #666;
    text-align: center;
}

/* app */

/* why-choose */
#why-choose {
    padding-top: 50px;
    padding-bottom: 35px;
    border-bottom: 1px dashed #e1293d;
}

.why-choose-content {
    color: #666;
    text-align: center;
}

/* why choose */

/* service */
#service {
    padding-top: 50px;
    padding-bottom: 35px;
    border-bottom: 1px dashed #e1293d;
}

#service .container .row div ul.fa-ul {
    margin-top: 0px;
}

#service .container .row div ul.fa-ul li {
    padding-bottom: 15px;
    color: #666 !important;
}

#service .container .row div ul.fa-ul li:last-child {
    padding-bottom: 0px;
}

/* service */

/* newspaper */
#newspaper {
    padding-top: 50px;
    padding-bottom: 35px;
    border-bottom: 1px dashed #e1293d;
}

/* #newspaper */
/* partners */
#partners {
    padding-top: 50px;
    padding-bottom: 10px;
}

/* partners */
/* inf */
#inf div.container {
    padding-top: 15px;
    padding-bottom: 10px;
    border-top: 1px solid #e1293d;
}

#inf div.container .row ul.fa-ul {
    margin-bottom: 0px;
}

#inf div.container .row ul.fa-ul li a {
    color: #666;
}

#inf div.container .row ul.fa-ul li span a {
    color: #e1293d;
}

#inf .container .row span:first-child {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

#inf .container .row span:nth-child(n+2) {
    color: #666;
    text-align: center;
}

/* inf */
/* footer */
#footer {
    color: #666;
}

/* carousel */
#demo .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-left: 5px;
}

#demo .carousel-control-prev-icon,
#demo .carousel-control-next-icon {
    opacity: 0.6;
    width: 50px;
    height: 50px;
}

#demo .carousel-control-prev-icon:hover,
#demo .carousel-control-next-icon:hover {
    opacity: 0.8;
    background-color: #666;
}

/* carousel */