/* hearder */
ul.nav {
    padding-left: 0px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

#header {
    background-color: #a73a3a;
}

#header .container-header {
    justify-content: space-between;
    padding: 10px 15px 15px;
}

#header .container ul.nav li {
    margin: 10px 5px;
    height: 34px;
}

#header .container ul.nav li a {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    text-transform: uppercase;
}

#header .container ul.nav li:hover {
    border-bottom: 2px solid #fff;
}

#header .container .fa-solid {
    display: none;
    font-size: 40px;
    background-color: #A73A3B;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 11px;
    margin: 5px;
    margin-right: 13px;
}

#header .container .fa-solid:active+ul.nav {
    height: 362px;
    transition-duration: 2s;
    border-top: 1px solid #fff;
}

#header .container .fa-solid:active {
    background-color: black;
}

@media only screen and (max-width: 768px) {
    ul.nav {
        width: 100%;
        display: block;
        height: 0px;
    }

    #header .container .fa-solid {
        display: inline;
    }
}

/*header*/


/* search */
#search {
    border-bottom: 1px solid #e1293d;
    padding: 20px 0px;
}

#search form.container-search {
    justify-content: space-between;
}

#search form.container .box-input {
    display: flex;
    margin: auto;
}

#search form.container .box-input input {
    color: #666;
    padding: 5px;
    width: 100%;
    margin: 15px 15px;
    font-size: 16px;
}

#search form.container .box-button {
    display: flex;
    margin: auto;
}

#search form.container .box-button button {
    background: #fff;
    color: #a73a3a;
    padding: 7px 25px;
    border: 2px solid #a73a3a;
    margin: 0px 15px;
    min-width: 150px;
    font-size: 16px;
    cursor: pointer;
}


/* slider-login */
#slider-login {
    padding: 40px 0px 35px;
    border-bottom: 1px dashed #e1293d;
}

#slider-login .box-slider {
    padding: 0px 15px 15px;

}

#slider-login .box-slider .slider {
    position: relative;
}

#slider-login .box-login {
    padding: 0px 15px 15px;
}

#slider-login .box-login .login {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid #e1293d;
    height: 97%;
}

#slider-login .box-login .login span {
    text-align: center;
}

#slider-login .box-login .login a.button {
    width: 70%;
    background: #e1293d;
    padding: 10px 0px;
    color: #fff;
    margin: 10px auto;
    text-align: center;
}

#slider-login .box-login .login .line {
    width: 50%;
    margin: 0px auto;
    border-bottom: 1px solid #e1293d;
    padding-top: 10px;
}

#slider-login .box-login .login .line-1 {
    width: 100%;
}

#slider-login .box-login .login .icon-phone {
    margin: 30px auto 20px auto;
    font-size: 40px;
    color: #e1293d;
    text-align: center;
    width: 100%;
}

#slider-login .box-login .login .phone-munber {
    text-align: center;
    color: #e1293d;
    margin: 0px auto 20px;
    font-family: arial;
    font-size: 28px;
    font-weight: bold;
}

/* app */
#app {
    padding-top: 50px;
    padding-bottom: 35px;
    border-bottom: 1px dashed #e1293d;
}

#app .container .display-flex .box-down-app {
    border: 1px solid #666;
    color: #666;
    text-align: center;
}

/* app */

/* why-choose */
#why-choose {
    padding-top: 50px;
    padding-bottom: 35px;
    border-bottom: 1px dashed #e1293d;
}

.why-choose-content {
    color: #666;
    text-align: center;
}

/* why choose */

/* service */
#service {
    padding-top: 50px;
    padding-bottom: 35px;
    border-bottom: 1px dashed #e1293d;
}

ul.fa-ul {
    margin-top: 0px;
}

ul.fa-ul li span.fa-li {
    font-size: 20px;
}

ul.fa-ul li {
    padding-bottom: 15px;
    color: #666 !important;
}

ul.fa-ul li:last-child {
    padding-bottom: 0px;
}

/* service */

/* newspaper */
#newspaper {
    padding-top: 50px;
    padding-bottom: 35px;
    border-bottom: 1px dashed #e1293d;
}

/* #newspaper */
/* partners */
#partners {
    padding-top: 50px;
    padding-bottom: 10px;
}

/* partners */
/* inf */
#inf div.container {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1293d;
    border-top: 1px solid #e1293d;
}

#inf div.container div ul.fa-ul {
    margin-left: 0px;
    justify-content: space-between;
}

#inf div.container div ul.fa-ul li {
    margin-left: 35px;
}
#inf div.container div ul.fa-ul li a {
    color: #666;
}

#inf div.container div ul.fa-ul li span a {
    color: #e1293d;
}

#inf .container div span:first-child {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

#inf .container div span:nth-child(n+2) {
    color: #666;
    text-align: center;
}
/* inf */
/* footer */
#footer {
    color: #666;
}

/* width box */
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {

    /* For desktop: */
    .col-l-1 {
        width: 8.33%;
    }

    .col-l-2 {
        width: 16.66%;
    }

    .col-l-3 {
        width: 25%;
    }

    .col-l-4 {
        width: 33.33%;
    }

    .col-l-5 {
        width: 41.66%;
    }

    .col-l-6 {
        width: 50%;
    }

    .col-l-7 {
        width: 58.33%;
    }

    .col-l-8 {
        width: 66.66%;
    }

    .col-l-9 {
        width: 75%;
    }

    .col-l-10 {
        width: 83.33%;
    }

    .col-l-11 {
        width: 91.66%;
    }

    .col-l-12 {
        width: 100%;
    }
}

/* width box */